/* Header */

header {
    background-image: url("assets/header.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 522px;
    margin-top: -22px;
    margin-right: 67.5px;
    margin-left: 67.5px;
}

.headingtext {
    text-align: center;
    line-height: 522px;
    width:1301px;
    color: white;
    font-size: 42px;






